syntax: glob
notebooks/.ipynb_checkpoints/*
*.egg-info/*
*.pyc
.vscode/*
.eggs/*
.pytest_cache/*
forum/simple/*
notebooks/model.png
notebooks/model.h5
htmlcov/*
.coverage
agents/clown/*
agents/clown2/*
agents/errorlogs/*
agents/replays/*
agents/pagliacci*/*
agents/napoleon_*/*
agents/focus_*/*
agents/superfocus*
agents/three_toad*
forum/cunet*
notebooks/_temp.ipynb
agents/optimus_prime*
agents/megatron*
agents/fitipaldi*
agents/stacy*
agents/terminator*
agents/obelix*
agents/batman*
agents/joker*
agents/robin*
agents/link*
agents/zelda*
agents/nairu*
agents/sheik*